/* styles.css */

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand/static/Quicksand-Medium.ttf') format('truetype');
}

/* Add styles for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Styles for the header */
header {
    
    display: inline-flex;
    background-color: #fff; /* Background color for the header */
    font-family: 'Quicksand', sans-serif; 
    color: rgb(23, 23, 23); /* Text color for the header */
}

/* Styles for the title */
h1 {
	text-decoration: underline;
	font-size: 2em; /* Increase the font size for the name */
	border-top-left-radius: 0px;
	padding-left: 30px;
}

img {
    width: 100%;
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any extra spacing around the image */
    margin: 0 auto; /* Center the image horizontally if needed */
    padding-top: 0px;
  }

/* Restrict the size of the image inside the <a> element */
#CameraGimblePNG {
    max-width: 200px; /* Set the maximum width to your desired value */
    max-height: 150px; /* Set the maximum height to your desired value */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
}


/* Styles for navigation */
nav ul {
    display: inline-flex;
    gap: 1em;
}


a {
	text-decoration: none;
	color: rgb(23, 23, 23);
	padding-bottom: 0px;
	padding-top: 18px;
	padding-left: 0px;
	left: 0mm;
	right: 0mm;
	bottom: 0mm;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


li {
    
    text-decoration: none;
    color: rgb(23, 23, 23);
}

/* Center the "Projects" dropdown menu */
.dropdown {
    display: flex;
    align-items: right; /* Center vertically */
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff;
}


.social-links {
    list-style-type: none;
    padding: 1em; /* Remove default padding */
}


.show {
    display: block;
}

/* Apply styles to the projectLink section */
.projectLink {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: list-item;
}

/* Style the <p> elements inside the projectLink section */
.projectLoyout {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}




/* Additional styles for main content, sections, and footer */
main {
    padding: 2em;
    background-color: #fff;
    float: none;
    clear: none;
    list-style-type: none;
}

section {
    margin-bottom: 2em;
    padding-right: 0px;
    float: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}
